@model AvaliacaoPratica.Models.Pratos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pratos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PratoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PratoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PratoDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PratoDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurantes.RestauranteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurantes.RestauranteNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PratoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
