@model AvaliacaoPratica.Models.Restaurantes

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Você tem certeza que deseja apagar este restaurante?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestauranteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestauranteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

    </dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" value="Apagar" class="btn btn-danger">
            <span class="glyphicon glyphicon-floppy-remove"></span> Apagar
        </button>
        <a href="~/Restaurantes" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
            Cancelar
        </a>
    </div>
}
</div>
